@media (max-width: 1200px) {
    .promo {
        &__header {
            font-size: 41px;
        }
        &__subheader {
            font-size: 23px;
        }
    }
    .title {
        font-size: 27px;
        &_left {
            margin-left: 40px;
        }
    }

    .consultation {
        &__descr {
            margin-left: 40px;
        }
    }
    .feed-form {
        margin-left: 40px;
    }
    .catalog {
        &-item {
            &__newprice {
                font-size: 19px;
            }
        }
    }
    .carousel {
        padding-bottom: 120px;
    }
}

@media (max-width: 991px) {
    .header {
        &__contacts {
            align-items: center;
            margin-right: 15px;
            padding-bottom: 15px;
        }
        &__phone {
            font-size: 16px;
        }
        &__logo {
            margin-left: 15px;
            width: 208px;
        }
        &__official {
            padding-right: 50px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .title {
        font-size: 28px;
    }
    .advantages {
        &__item {
            width: 230px;
            &:nth-child(1) {
                padding-left: 15px;
            }
            &:nth-child(3) {
                padding-right: 15px;
            }
        }
    }
    .consultation {
        min-height: 640px;
        padding-top: 50px;
        &__descr {
            margin-top: 40px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
        &__tab {
            width: 205px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            padding-right: 0px;
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        &_catalog {
            width: 120px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 22px;
        }
    }

    .title {
        font-size: 28px;
    }

    .advantages {
        padding: 48px 0 64px 0;
        &__wrapper {
            margin-top: 39px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 290px;
            &:nth-child(2) {
                margin-top: 40px;
            }
            &:nth-child(3) {
                margin-top: 40px;
            }
            &_header {
                margin-top: 16px;
            }
            &_descr {
                margin-top: 18px;
                line-height: 1.6;
            }
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        padding-bottom: 123px;
    }
    .carousel__inner {
        width: 520px;
        img {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__content {
            justify-content: space-evenly;
        }
        &__tab {
            width: 152px;
            font-size: 15px;
        }
        &-item {
            width: 275px;
            &__content {
                transform: translateX(-105%);
                &_active {
                    transform: translateX(0);
                }
            }
            &__prevprice {
                font-size: 13px;
            }
            &__newprice {
                font-size: 18px;
            }
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 240px;
            padding: 30px 0 30px 0;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 440px;
    }
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 150px;
        }
        &__contacts {
            align-items: center;
            margin-right: 15px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        min-height: 400px;
        &__wrapper {
            align-items: center;
            margin-top: 90px;
        }

        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 307px;
            margin-top: 45px;
        }
    }
    .button {
        width: 128px;
        &_main {
            width: 160px;
        }
        &_submit {
            width: 233px;
        }
        &_catalog {
            width: 73px;
            font-size: 12px;
        }
    }

    .title {
        font-size: 22px;
        &_left {
            font-size: 18px;
            text-align: center;
            padding-right: 10px;
            // margin-left: 0px;
        }
    }

    .advantages {
        padding: 48px 0 64px 0;
        &__wrapper {
            margin-top: 39px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 290px;
            &:nth-child(2) {
                margin-top: 20px;
            }
            &:nth-child(3) {
                margin-top: 20px;
            }
            &_header {
                margin-top: 16px;
            }
            &_descr {
                margin-top: 18px;
                line-height: 1.6;
            }
        }
    }
    .consultation {
        &__descr {
            font-size: 16px;
            padding-right: 20px;
        }
    }
    .feed-form {
        width: 270px;
        padding-right: 40px;
    }
    .carousel {
        padding-bottom: 80px;
    }
    .carousel__inner {
        width: auto;
        img {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            font-size: 11px;
            width: 85px;
            transform: none;
            div {
                transform: none;
            }
            &:nth-child(3) {
                line-height: 15px;
                padding-top: 10px;
            }
        }
        &__content {
            flex-direction: column;
        }
        &-item {
            width: 200px;
            &__wrapper {
                height: 316px;
            }
            &__content {
                transform: translateX(-110%);
                &_active {
                    transform: translateX(0);
                }
            }
            &__img {
                height: 135px;
            }
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size: 13px;
            }
            &__link {
                margin-top: 13px;
            }
            &__newprice {
                font-size: 14px;
            }
            &__oldprice {
                font-size: 12px;
            }
            &__list {
                li {
                    margin-bottom: 5px;
                    font-size: 11px;
                    font-weight: 700;
                }
            }
        }
    }
    .reviews {
        &-item {
            display: block;
            &__img {
                margin: 0 auto;
            }
            &__descr {
                margin-top: 20px;
                text-align: center;
            }
            &__text {
                font-size: 15px;
                padding: 0 10px;
            }
        }
    }
    .footer {
        &__info {
            width: 320px;
            padding: 20px 0 20px 0;
        }
        &__address {
            font-size: 18px;
        }
        &__phone {
            font-size: 19px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
        }
    }
}

@media only screen and (min-device-width: 420px) and (max-device-width: 575px) {
    .catalog {
        &__content {
            flex-direction: row;
        }
        &__tab {
            width: 100px;
            &:nth-child(3) {
                line-height: 30px;
            }
        }
    }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 991px) {
    .catalog {
        &__content {
            justify-content: space-between;
        }
    }
}
